# Optional. Only needed if you want multi user face recognition, which remembers your calibration
# across launches. Requires cmake and a C++ compiler on your system to build dlib.
face_recognition>=1.3
